@import 'libs/normalize';
@import 'libs/slick';

@import 'base/mixins';

body {
  min-width: 1180px;
}
* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
.container {
  width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}

@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/carousel-promo';
@import 'blocks/button';
@import 'blocks/with-prengi';
@import 'blocks/arrow';
@import 'blocks/solutions';
@import 'blocks/title';
@import 'blocks/carousel-solutions';
@import 'blocks/advantages';
@import 'blocks/variants';
@import 'blocks/easy';
@import 'blocks/footer';
