@import 'libs/normalize';
@import 'libs/slick';

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
.container {
  width: 1140px;
  margin: 0 auto;
}

@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/carousel-promo';
@import 'blocks/button';
@import 'blocks/with-prengi';
@import 'blocks/arrow';
