.button {
  width: 241px;
  height: 60px;
  // margin: 39px 276px 116px 1px;
  // padding: 24px 43px 21px 45px;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.07);
  background-color: #00c2f0;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  border-radius: 6px;
}
