.promo {
  height: 700px;
  background: url('../img/main_bg.jpg') center (center / cover) no-repeat;
  padding-top: 39px;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__navigation {
    width: 546px;
    display: flex;
    justify-content: space-between;
  }
  &__nav-item {
    font-size: 13px;
    font-weight: 700px;
    line-height: 13px;
    text-align: right;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
  }
}
